@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
.welcome-container {
  min-width: 90vw;
  min-height: 80vh;
  margin-top: 10%;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
}
.welcome-container a {
  border: 1px solid #19c7ed;
  border-radius: 3px;
  padding: 5px;
}
:root {
  --primary: #19c7ed;
}
#name-span {
  /* font-size: clamp(2rem, 5vw, 6rem); */
  letter-spacing: 0.03em;
  -webkit-text-stroke: 2px var(--primary);
  color: transparent;
  filter: drop-shadow(0 0 0.35rem var(--primary));
}
@media screen and (device-width: 428px) {
  .welcome-container {
    min-height: 81vh;
  }
}
